<mat-toolbar color="primary">
  <span class="fill-remaining-space"> User Form</span>
  </mat-toolbar>
  <div class="container" *ngIf="!post; else forminfo" novalidate>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value, userForm.valid)" class="form"  >
  
  
  <mat-form-field class="example-full-width" appearance="fill">    
    <input matInput placeholder="User Name" formControlName="username" >    
  </mat-form-field>
  

  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
 
    <div class="example-container">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    </div>


    <div class="example-full-width">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234" formControlName="contact">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
   </div><br><br>

    <div class="example-full-width">
      <mat-label>Status</mat-label>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
   </div><br><br>


   <div class="example-full-width">
   <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </div><br><br>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Postal Code</mat-label>
    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
  </mat-form-field>




  <div class="form-element">
  <button mat-raised-button color="primary" type="submit" class="button">
  Submit
  </button>  
  </div>


  </form>
  </div>
  <ng-template #forminfo>
  <div class="container"> {{ post | json }} </div>
  </ng-template>
  